<app-sabw-caesar></app-sabw-caesar>
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Informatik</title>
    <link rel="stylesheet" type="text/css" href="CSS Dokument.css" />
  </head>
  <body>
    <h1>Eröffnungswochenende</h1>
    <p> <strong>Erste Grundlagen zum Programmieren:</strong> </p>
    <ol>
      <li>HTML</li>
      <ul> Gerade mache ich meine ersten Erfahrungen mit dem Programmieren von <u>HTML</u>.</ul>
      <ul>Dabei ist es wichtig, eine gewisse Struktur zu verwenden, um bei einem längeren Programm nicht den Überblick zu verlieren</ul>
      <ul>Ein HTML-Programm ist folgendermaßen aufgebaut:</ul>
      <ul>HTML-HEAD-BODY</ul>
      <ul>Wichtige Elemte für das Programmieren von HTML sind:</ul>
      <ul>hn als Überschrift</ul>
      <ul>p als Absatz</ul>
      <ul>ol als geordnete Liste</ul>
      <ul>ul als ungeordnete Liste</ul>
      <ul>br als Zeilensprung</ul>
      <li>CSS</li>
      <li>Type Script</li>
    </ol>
  </body>
</html>
 <img id="Scheibe" src="https://pasoma.de/sabw/scheibegross.png"/>


