#Scheibe {  
  width: 400px;
  position: absolute;
}
#Scheibe-Innen {
  width: 400px;
  position: absolute;
  transition: all 2s;
  /*transform: rotate(318.461538deg)*/
}
#Container {
  height: 400px;
}
h1 {
  color: blue; 
}
#Scheibe {  
  width: 400px;
}
